<form id="logInForm">
        <div id="logInFormHeader">LOGIN</div>
                <div id="logInFormFields">
                        <label for="email" class="labelField" >Email</label>
                        <input type="email" name="offEmail" class="inputField"></input>

                        <label for="password" class="labelField">Password</label>
                        <input type="password" name="pass" class="inputField"></input>

                        <label for="designation" class="labelField">Select your designation</label>
                        <select name="designation" class="inputField">
                                <option value="1">Faculty</option>
                                <option value="2">HOD</option>
                                <option value="3">Dean</option>
                                <option value="4">Admin</option>
                        </select>
                </div>
                <input type="submit" value="Login"></input>
                <p id="forgotPassword">Forgot your password?</p>
</form>
