<!Doctype html>
<html>
<head>
        <link href="stylesheets/facultyControls.css" rel="stylesheet"></link>

        <title>Faculty</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="/scripts/scriptFacultyControls.js"></script>
</head>
<body>
        <div id="navigation">
                <button class= "navBtn" id="logout">Logout</button>
          </div>
                <h1>Yes, I am a faculty</h1>
</body>
</html>
