*{
        box-sizing: border-box;
}

body{
        /margin: 0px;
        font-family: sans-serif;
        /background-image: url("/img/nn2.jpg");
        /background-size: 100% 87vh;
        /background-repeat: no-repeat;
        /background-position: 0vw 13vh;
}

#navigation {
        /border:2px solid black;
        text-align: center;
        padding: 10px;
}

#navigation .navBtn{
        width: auto;
        background-color: red;
        display: inline;
        color:white;
        margin:10px;
}

h1{
        text-align: center;
}

button {
        border: none;
        outline: 0;
        display: inline-block;
        padding: 8px;
        text-align: center;
        cursor: pointer;
        width: 100%;
        font-size: 18px;
}
