*{
        box-sizing: border-box;
}

body{
        margin: 0px;
        /background-image: url("/img/nn2.jpg");
        /background-size: 100% 87vh;
        /background-repeat: no-repeat;
        /background-position: 0vw 13vh;
}

#facultyContainer .faculty{
        display: inline-block;
        width:15%;
        font-size: 70%;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        max-width: 300px;
        margin: 20px;
        text-align: center;
        font-family: arial;
}

.title {
        color: grey;
        font-size: 18px;
}

button {
        border: none;
        outline: 0;
        display: inline-block;
        padding: 8px;
        text-align: center;
        cursor: pointer;
        width: 100%;
        font-size: 18px;
}

a {
        text-decoration: none;
        font-size: 22px;
        color: black;
}

button:hover, a:hover {
        opacity: 0.7;
}
